.Product-container{
    width: 100%;
    background-color: #FFFCF2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 96.5% !important; /* !important used for overriding all other customisations */
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 18px) !important; /* Better placement regardless of input width */
  }
  /*For IE*/
select::-ms-expand { display: none; }
.chip{
    background: #FFFCF2;
    border: 2px dashed #403D39;
    box-sizing: border-box;
    border-radius: 51px;
    display: flex;
    justify-content: space-between;
}
.form-control:focus{
    box-shadow: none!important;
}
.filter{
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
    width: 100%;
}

.filter-heading{
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

.fline{
    background-color: black;
    height: 1px;
    width: 30vw;
}

.filter select{
    width: 150px;
    border-radius: 25px;
    background-color: #FFFCF2;
    padding: 10px;
}

.applied-filters{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    padding: 0 100px;
}
.applied{
    border:1px dotted black;
    padding: 10px;
    margin-right: 50px;
    border-radius: 25px;
}

@media screen and (max-width:760px){
    .filter{
        padding: 0 20px;
    }
    .applied-filters{
        padding: 0 20px;
    }
}